<h3>DateResult</h3>

@if (ResultData is not null)
{
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h6">@ResultData.Title</MudText>
        </MudCardHeader>
        <MudCardContent>
            <MudText>Survey Results</MudText>
            <br />
            @foreach (var date in ResultData.Results)
            {
                <MudItem>@date</MudItem>
            }
        </MudCardContent>
    </MudCard>
}

@code {
    [Parameter]
    public SurveyResult? ResultData { get; set; }

}
