@using MudBlazor
@using BlazorSurvey.Shared.Models
@inject SurveyState SurveyState
<h3>Add a Rating Question</h3>

@if (SurveyState.Question is not null)
{
    <MudForm>
        <MudGrid Spacing="9" Justify="Justify.Center">
            <MudItem xs="12" Class=""><MudTextField T="string" Label="Add your question here" Required="true" RequiredError="You must ask a question" @bind-Value="SurveyState.Question.Title" /></MudItem>
            <MudSpacer />
            <MudItem><MudText>How many Rating levels do you want?</MudText><MudText Color="Color.Info">Maximum 15</MudText></MudItem>

            <MudGrid Justify="Justify.Center" >
                <MudItem><MudButton OnClick="DecreaseCount">-</MudButton></MudItem>
                <MudItem><MudText>@RatingQuestion.ChoiceRange</MudText>  </MudItem>
                <MudItem><MudButton OnClick="IncreaseCount">+</MudButton></MudItem>
            </MudGrid>
            <MudSpacer />
            <MudGrid Justify="Justify.SpaceEvenly">
                @foreach (var rating in Rating)
                {
                    <MudItem>
                        <MudRadio T="bool" Disabled="true" Dense="true" Label="@rating.ToString()" LabelPlacement="@(Placement.Top)"></MudRadio>
                    </MudItem>
                }
            </MudGrid>
            <MudButton Onclick="AddQuestion">Submit</MudButton>
        </MudGrid>
    </MudForm>
}

@code {
    private RatingQuestion RatingQuestion = new RatingQuestion();

    private IEnumerable<int> Rating => Enumerable.Range(1, RatingQuestion.ChoiceRange);

    protected override void OnInitialized()
    {
        SurveyState.CreateQuestion(RatingQuestion);
        base.OnInitialized();
    }

    private void DecreaseCount()
    {
        RatingQuestion.ChoiceRange = RatingQuestion.ChoiceRange > 1 ? RatingQuestion.ChoiceRange - 1 : 15;
        SurveyState.UpdateQuestion(RatingQuestion);
    }
    private void IncreaseCount()
    {
        RatingQuestion.ChoiceRange = RatingQuestion.ChoiceRange < 15 ? RatingQuestion.ChoiceRange + 1 : 1;
        SurveyState.UpdateQuestion(RatingQuestion);
    }
    private void AddQuestion()
    {
        SurveyState.AddQuestion();
    }
}
