<h3>TextResult</h3>

@if (ResultData is not null && ResultData.TextResults.Length > 0)
{
    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h6">@ResultData.Title</MudText>
        </MudCardHeader>
        <MudCardContent>
            @foreach (var text in ResultData.TextResults)
            {
                <MudItem>@text</MudItem>
            }
        </MudCardContent>
    </MudCard>
}

@code {
    [Parameter]
    public SurveyResult? ResultData { get; set; }

}
